@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --banshen-color: #f1f1f1;
    --normal-color: #292f3a;
    --border-color: #ccc;
    --primary-color: #ea9ab2;
}
body {
    margin: 0;
    font-family: "Rubik", serif;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
}
body.banshenMode {
    background-color: var(--banshen-color);
    color: var(--normal-color);
}
body.normalMode {
    background-color: var(--normal-color);
    color: var(--banshen-color);
}
body.normalMode input[type=text], body.normalMode select {
    background-color: var(--normal-color);
    color: var(--banshen-color);
    border: 1px solid var(--border-color);
}
body.banshenMode input[type=text], body.banshenMode select {
    background-color: var(--banshen-color);
    color: var(--normal-color);
    border: 1px solid var(--border-color);
}
::placeholder {
    color: var(--border-color);
    opacity: 1;
}
::-ms-input-placeholder {
    color: var(--border-color);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #292f3a;
    position: sticky;
    top: 0;
}
header h1 {
    margin: 0;
    font-size: 1.2em;
    text-align: left;
    flex: 1;
}
header .button-container {
    display: flex;
    gap: 10px;
}
header button {
    background: none;
    border: none;
    color: #292f3a;
    font-size: 1em;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
nav button {
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}
nav button.active {
    background-color: var(--primary-color);
    color: #292f3a;
}
nav button:hover {
    background-color: var(--primary-color);
    color: #292f3a;
}
nav span {
    margin: 0 5px;
    padding: 10px;
    font-size: 1.1em;
    background-color: var(--primary-color);
    color: #292f3a;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}
#themeToggle, #colorToggle {
    color: #292f3a;
    font-weight: 800;
    font-size: 0.8em;
}
.tool {
    display: none;
    padding: 15px;
}
.tool.active {
    display: block;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
input, button, select {
    font-family: "Rubik", serif;
}
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
button {
    background-color: var(--primary-color);
    color: #292f3a;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#results {
    margin-top: 20px;
    max-width: 700px;
    margin: 0 auto;
}